/* 18 Discuss reset and normalize */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* 12 Discuss ruleset, selector, declaration, properties & values */
body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    /* 13 Talk about main font and backups */
}

/* 14 Show Box Model and add border, margin, and padding */

nav {
    background-color: #ff4821;
    color: whitesmoke;
    position: fixed; /* 15 Keeps navbar on top and front */
    width: 100vw; /* 16 Responsive width */
    height: 3em; /* 17 Talk about em reference values */
    padding-left: 1.5em; /* 19 Needs added padding now */
    box-shadow: 2px 2px 2px #8f8f8f; /* 20 Show shadow option 8 */
}

.nav-link {
    text-decoration: none; /* 21 remove bullet points */
    color: whitesmoke; 
}

.nav-link:hover {
    color: black; /* 22 Action selector :hover to change color */
}

.menu {
    display: flex; /* 23 Flexbox use on menu */
    justify-content: left; /* 24 Mess around with values to see how it behaves */
    gap: 1em; /* 24 Final fix to space out the ul items */
    list-style-type: none; /* 25 remove bullet points */
}

.menu-options {
    height: 3em; /* 26 Adjust container height */
    display: flex; /* 27 Anchor tags become flex items */
    align-items: center; /* 28 Discuss cross axis in flexbox */
}

.main-wrapper {
    padding-top: 3em; /* 32 Need to set padding as flexbox and position: fixed do not play nice */
}

#main-text {
    font-size: 12em; /* 31 */
}

/* 36 Adjust padding to space containers out */
#html {
    background-color: #ff4821;
    padding-top: 1em;
    padding-bottom: 1em;
}

#css {
    padding-top: 1em;
    padding-bottom: 1em;
}

.text-img-wrapper {
    display: flex; /* 37 Flexbox to containerize text against image */
    text-align: justify; /* 38 */
    align-items: flex-start; /* 39 Main axis adjustmetn */
}

/* 40 */

.p-img-logos {
    width: 10em;
    height: 10em;
    object-fit: contain;
}

/* 42 */

.contact-container {
    background-color:#bdbdbd;
    padding-top: 1em;
    padding-bottom: 1em;
}

.contact-form {
    display: flex; /* 43 Flex for contact form */
    flex-direction: column; /* 44 Adjusting from inline to column */
    gap: 0.5em;
}

#name-input {
    width: 35vw;
}

#email-input {
    width: 35vw;
}

#submit-button {
    width: 35vw;
}







